.centered{
    display: flex;
    justify-content:space-evenly;
    height: 100hv;
}


.button {
    transition-duration: 0.4s;
    background-color: green;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 15px 32px;
    }
    
.button:hover {
background-color: #04AA6D; /* Green */
background-color: rgb(206, 185, 185);
color: black;
}

li{
    font-weight: bolder;
    font-size:large;
}